*{
    border: 0;
    margin: 0;
    padding: 0;
}


header{
    display: flex;
    flex-direction: row;
    background: url(../backgrounds/flat-world-rock-day-background-with-guitars-speakers_23-2149429179.avif) no-repeat;
    background-size: 1000000px;
    padding: 5px 10%;
    justify-content: space-around;
    align-items: center;
    height:  85px;

}

header .icon img{
    width: 10vw; 
    height: 70px;
    transition: all 0.3s;

}

header .icon {
    cursor: pointer;
}


header .icon img:hover{
    transform: scale(1.2);
}

header ul{
    list-style: none;
}

header ul li {
    display: inline-block;
    padding: 0 20px;
    background-color: darkgoldenrod;
    border: none;
    border-radius: 50px;
    padding: 1em;
    margin: 1mm;
}

header nav ul li a {
    font-size: 700;
    color: aliceblue;
    text-decoration: none;

}

header nav ul a:hover {
    transform:  scale(1.1);
    padding: 1em;
}

header ul li a:hover{
    color: chocolate;
}







main{
    background: url(../backgrounds/hand-drawn-world-rock-day-background_23-2149445205.avif);
    padding: 5%;
  
}

section{ 
    background-color: bisque;
    padding: 1%;
    background-color: aliceblue;
    border-radius: 50px;
}

article{
     background-color: aqua;
     margin: 10%;
}

body{
    background: url(./img/images.jpeg);
}





section .Texto {
    display: flex;
    justify-content: start;
    align-items: end;
    flex-wrap: wrap;
}

.Texto h1 {
    background-color: cornflowerblue;
    border: none;
    border-radius:50px ;
    padding: 1%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.Texto p {
    display: flex;
    font-size: 20px;
    
   
}

.Texto img{
  
    width:  300px;
    display: flex;
    padding: 1%;
    
}

section .Texto2 {
    display: flex;
    justify-content: start;
    align-items: end;
    flex-wrap: wrap;
}

.Texto2 h1 {
    background-color:cadetblue;
    border: none;
    border-radius:50px ;
    padding: 1%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

.Texto2 p {
    display: block;
    font-size: 20px;
   
}


.container {
    padding: 5%;
}

.row {
    padding: 4%;
    border: 10px solid black;
}

.col{
    border: 2px solid black;
}




